

.enlaces{
  font-size: 1em;
color: black;

}




@media screen and (min-width: 1500px){
  .margenes{
    margin-left:140px;
    margin-right: 140px;
  }

  p{
    font-size: 1em;
  }
}

@media screen and (max-width:992px){
  .margenes{
    margin-left:5em;
    margin-right:5em;

  }
  .list-group-item{
    font-size: 1.4em;
  }
  p{
    font-size: 1.3em;
  }


}


@media screen and (max-width:600px){
  .margenes{
    margin-left:150em;
    margin-right:1em;
    border:1px solid red;

  }
}




/* @media screen and (max-width: 600px){
  .margenes{
    margin-left:20px;
    margin-right: 20px;

  }
  .p{
    font-size: 1.5em;
  }
} */
