

.enlaces{
  font-size: 1em;
color: black;

}
.body{

  background-color: #FAFAFA;
  }


  .card{
  box-shadow: 4px 4px 8px 3px #DADADA;
}

.na{

  text-decoration: none;
  color: white;
}
.na:hover{
  text-decoration: none;
  color: white;
}
nav a{
  font-size: 1.2em;

}

@media screen and (min-width: 1500px){
  .margenes{
    margin-left:140px;
    margin-right: 140px;
  }

  p{
    font-size: 1em;
  }
}

@media screen and (max-device-width:992px){
  .margenes{
    margin-left:5em;
    margin-right:5em;

  }
  .list-group-item{
    font-size: 1.3em;
  }
  p{
    font-size: 1.4em;
  }
.titulos{
  font-size:2.8em;
}
.certificacion{
  font-size: 1.1em;
}
.card-footer{
  font-size: 1.1em;
}

.name{
  font-size: 2.3em;
}
.card-title{
  font-size: 2.1em;
}
.profesion{
    font-size: 2em;
}
.nav{
  font-size: 2em;
}
.na{

  font-size: 2.2em;
}
nav{
  text-align: center;
}



}


@media only screen and (max-device-width:600px){
  .margenes{
    margin-left:1em;
    margin-right:1em;

  }
  .list-group-item{
    font-size: 2.1em;
  }
  p{
    font-size: 2.1em;
  }
.titulos{
  font-size:3.8em;
}
.certificacion{
  font-size: 2em;
}
.card-footer{
  font-size: 2em;
}
.name{
  font-size: 3.1em;
}
.card-title{
  font-size: 2.8em;
}
.profesion{
    font-size: 3em;
}
.nav{
  font-size: 2em;
}
.na{
  font-size: 2.2em;
}

}


/* @media screen and (max-width: 600px){
  .margenes{
    margin-left:20px;
    margin-right: 20px;

  }
  .p{
    font-size: 1.5em;
  }
} */
